<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.moust.cordova.videoplayer" version="1.0.7"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>Video Player</name>
    <description>Native Video Player Plugin</description>
    <license>MIT</license>
    <keywords>cordova,media,player,video</keywords>
    <repo>https://github.com/bva/cordova-plugin-videoplayer.git</repo>
    <issue>https://github.com/bva/cordova-plugin-videoplayer/issues</issue>

    <js-module name="VideoPlayer" src="www/videoplayer.js">
        <clobbers target="VideoPlayer" />
    </js-module>

    <dependency id="cordova-plugin-android-support-v4" />

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="VideoPlayer">
                <param name="android-package" value="com.moust.cordova.videoplayer.VideoPlayer" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.moust.cordova.videoplayer.VideoPlayerActivity"
	        android:screenOrientation="landscape"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/VideoPlayer.java"
            target-dir="src/com/moust/cordova/videoplayer" />
        <source-file src="src/android/VideoPlayerActivity.java"
            target-dir="src/com/moust/cordova/videoplayer" />
        <source-file src="src/android/video_player_activity.xml" target-dir="res/layout" />
    </platform>

</plugin>
